{% csrf_token %}
<div id="data-content">
    <p class="list-title">Понравившиеся товары</p>
    {% for selectItem in products %}
    <hr>
    <div class="col product-element-row" id="product-item-{{ selectItem.product.pk }}" priduct-id="{{ selectItem.product.pk }}">
        <div class="row">
            <div class="col d-flex">
                <div class="d-flex align-items-center w-100">
                    <a href="{{ selectItem.product.get_absolute_url }}" class="product-name-data">{{ selectItem.product.title }}</a>
                </div>
            </div>                                        
            <div class="col-2 d-flex justify-content-center p-0 price-area">
                <div class="d-flex align-items-center">
                    <span class="uc-price" id="product-id_1000103-price">{{ selectItem.product.price }}</span><span class="rur"> ₽</span>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center p-0 mx-2">
                <div class="d-flex align-items-center">
                    <button class="product-delete-button" onclick="selectRowDelete(this)" product-id="product-item-{{ selectItem.product.pk }}">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>