{% extends "../../form_pages/account_order.html" %}
{% block fill %}
<div class="col product-element-row" id="product-item-3" priduct-id="product-id_1000103">
    <div class="for">
        {% for selectItem in selectedProdsList %}
            <p>name: {{ selectItem.product.title }}; price: {{ selectItem.product.price }}</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col d-flex">
            <div class="save-area d-flex align-items-center w-100">
                <a href="#" class="product-name-data">Букет роз С бантиком в обмотке</a>
            </div>
        </div>                                        
        <div class="col-1 d-flex justify-content-center p-0">
            <div class="save-area d-flex align-items-center w-100">
                <input readonly id="product-id_1000103-qty-container" class="qty-container m-0 p-0" style="outline:none;" value="1" size="3" maxlength="3" min="1">  
            </div>                                            
        </div>
        <div class="col-2 d-flex justify-content-center p-0">
            <div class="save-area d-flex align-items-center">
                <div class="table-product-cost-data">
                    <span class="uc-price" id="product-id_1000103-price">3740</span><span class="rur"> ₽</span>
                </div>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center p-0">
            <div class="save-area d-flex align-items-center">
                <button class="product-delete-button">Detete</button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="col product-element-row" id="product-item-3" priduct-id="product-id_1000103">
    <div class="row">
        <div class="col d-flex">
            <div class="save-area d-flex align-items-center w-100">
                <a href="#" class="product-name-data">Букет раскошных роз С бантиком в обмотке</a>
            </div>
        </div>                                        
        <div class="col-1 d-flex justify-content-center p-0">
            <div class="save-area d-flex align-items-center w-100">
                <input readonly id="product-id_1000103-qty-container" class="qty-container m-0 p-0" style="outline:none;" value="1" size="3" maxlength="3" min="1">  
            </div>                                            
        </div>
        <div class="col-2 d-flex justify-content-center p-0">
            <div class="save-area d-flex align-items-center">
                <div class="table-product-cost-data">
                    <span class="uc-price" id="product-id_1000103-price">3740</span><span class="rur"> ₽</span>
                </div>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center p-0">
            <div class="save-area d-flex align-items-center">
                <button class="product-delete-button">Detete</button>
            </div>
        </div>
    </div>
</div>
{% endblock fill %}