{% csrf_token %}
<div id="data-content">
    <p class="list-title">Выбранные товары</p>
    {% for selectItem in products %}
    <hr id="hr-{{ selectItem.position.product.pk }}">
    <div class="col product-element-row" id="product-item-{{ selectItem.position.product.pk }}" list-type="{{ listCode }}" product-id="{{ selectItem.position.product.pk }}" hr-id="hr-{{ selectItem.position.product.pk }}">
        <div class="row">
            <div class="col d-flex">
                <div class="d-flex align-items-center w-100">
                    <a href="{{ selectItem.position.product.get_absolute_url }}" class="product-name-data">{{ selectItem.position.product.title }}</a>
                </div>
            </div>                                        
            <div class="col-1 d-flex justify-content-center p-0">
                <div class="qty-area d-flex align-items-center w-100">
                    <input readonly id="{{ selectItem.position.product.pk }}-qty-container" class="qty-container m-0 p-0" value="{{ selectItem.position.count }}" min="1">  
                </div>                                            
            </div>
            <div class="col-2 d-flex justify-content-center p-0 price-area">
                <div class="d-flex align-items-center">
                    <span class="uc-price">{{ selectItem.totalPrice }}</span><span class="rur"> ₽</span>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center p-0 mx-2">
                <div class="d-flex align-items-center">
                    <button class="product-delete-button" onclick="productDelete(this)" product-id="product-item-{{ selectItem.position.product.pk }}">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>