{% load static %}
{% include '../header.html' %}
{% csrf_token %}
<!-- ########## ОБЛАСТЬ ДЛЯ МОДУЛЯ МАГАЗИНА ########## -->
<div>
    <div class="container" id="product-data" product-id="{{ product.pk }}">
        <div class="row product-title-name-and-rating">
            <div class="col">
                <div class="name-shop-item">{{ product.title }}</div>
                <div class="rating-after-name">
                    <ul>
                        {% for i in reviews.global_stars.fill %}
                            <li><i class="fa-solid fa-star"></i></li>
                        {% endfor %}
                        {% for i in reviews.global_stars.less %}
                            <li><i class="fa-regular fa-star"></i></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="number-ratings">
                    <span class="value">{{ number_reviews }}</span> отзывов
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-sm-5">
                <div class="shop-s_detail">
                    <div class="shop_detail_img">
                        <img src="{{ product.photo.url }}" class="product-image" alt="prod">
                    </div>
                </div>
            </div>
            <!-- column End -->
            <div class="col-sm-6">
                <div class="row-5 detail-text-data">
                    <div class="col product-price p-0">
                        <span class="value">{{ product.price }}</span>
                        <span class="currency">₽</span>
                    </div>
                    <div class="col detail-size-price-block p-0">
                        <div class="row-2">
                            <div class="col p-0 detail-text-data-stile">
                                <i class="fa fa-maximize detail-text-data-icon" aria-hidden="true"></i>
                                Размер:
                                <span class="js_product__size-width" title="Ширина">{{ product.size_width }}</span>
                                ×
                                <span class="js_product__size-height" title="Высота">{{ product.size_height }}</span>
                                см 
                            </div>
                            <div class="col p-0 detail-text-data-stile">
                                <i class="fa-solid fa-car detail-text-data-icon"></i>
                                <span id="js_product-delivery-price__address" data-trans="Доставка по адресу">Доставка в г. <span class="product-delivery-price_city">{{ user.city_user_field.name }}</span>:</span>
                                <span class="js_product-delivery-price_tooltip" aria-expanded="false">
                                    <span id="js_product-delivery-price__sum">Бесплатно</span>
                                </span>
                            </div>
                            <div class="col p-0 detail-text-data-stile">
                                <i class="fa-solid fa-cubes detail-text-data-icon"></i>
                                <span data="Товара на складе">Товара на складе:</span>
                                <span>
                                    <span>{{ product.count }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col p-o buy-button-group">
                        <div class="row">
                            <div class="col-5 p-0 buy-button-item-div">
                                <button type="submit" class="buy-button-common buy-button w-100" onclick="addToSelectedList(this)" product-data-area="product-data">
                                    <i class="fa-regular fa-calendar"></i>
                                    Заказать
                                </button>
                            </div>
                            <div class="col-5 p-0 buy-button-item-div">
                                <button type="button" class="buy-button-common buy-button-one-click w-100" onclick="addToSelectedListRedirect(this)" product-data-area="product-data">Купить в 1 клик </button>
                            </div>
                            <div class="col-1 p-0 buy-button-item-div">
                                <button type="button" class="buy-button-common buy-button-favorite" onclick="addToFavoriteList(this)" product-data-area="product-data">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0 detail-interactive-block">
                        <div class="row-2">
                            <div class="col p-0">
                                <div class="reviews">
                                    <div class="reviews-main-area detail-interactive-main">
                                        <a class="reviews-main-area-button detail-interactive-button w-100" aria-expanded="false" aria-controls="reviews_collapsed_area_id" onclick="collapsElement(this)">
                                            <div class="name">Отзывы</div>
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </a>
                                        <div class="reviews-collapsed-area detail-collapsed-area" id="reviews_collapsed_area_id" style="display: none;">
                                            <div class="row-2">
                                                <div class="col global-data">
                                                    <div class="row reviews-global-data">
                                                        <div class="col-auto reviews-global-grade">{{ reviews.global_grade }}</div>
                                                        <div class="col">
                                                            <div class="row-2">
                                                                <div class="col">
                                                                    <div class="rating-after-name">
                                                                        <ul>
                                                                            {% for i in reviews.global_stars.fill %}
                                                                                <li><i class="fa-solid fa-star"></i></li>
                                                                            {% endfor %}
                                                                            {% for i in reviews.global_stars.less %}
                                                                                <li><i class="fa-regular fa-star"></i></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col-auto">{{ reviews.number_all_reviews }}  Оценок</div>
                                                                        <div class="col-auto">{{ reviews.number_all_reviews }}  Отзывов</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% for review in reviews.few_reviews %}
                                                    <div class="col rewiew-local-data">
                                                        <div class="row-2">
                                                            <div class="col rewiew-local-data-stroke">
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <div class="rating-after-name">
                                                                            <ul>
                                                                                {% for i in review.stars.fill %}
                                                                                    <li><i class="fa-solid fa-star"></i></li>
                                                                                {% endfor %}
                                                                                {% for i in review.stars.less %}
                                                                                    <li><i class="fa-regular fa-star"></i></li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto reviews-local-grade">{{ review.grade }}</div>
                                                                </div>
                                                            </div>
                                                            <div class="col reviews-local-author rewiew-local-data-stroke">{{ review.author }}</div>
                                                            <div class="col reviews-local-description">{{ review.description }}</div> 
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="compound">
                                    <div class="compound-main-area detail-interactive-main">
                                        <a class="compound-main-area-button detail-interactive-button w-100" aria-expanded="true" aria-controls="compound_collapsed_area_id" onclick="collapsElement(this)">
                                            <div class="name">Состав</div>
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </a>
                                        <div class="compound-collapsed-area detail-collapsed-area" id="compound_collapsed_area_id">
                                            <div class="row compound-data">
                                                <div class="col">
                                                    <div class="row-2">
                                                        {% if composition.product == 'none' %}
                                                            <div class="col compound-column-item">данные о цветке</div>
                                                            <div class="col compound-column-item">данные о цветке</div>
                                                            <div class="col compound-column-item">данные о цветке</div>
                                                        {% else %}
                                                            <div class="col compound-column-item">{{composition.product.part_1}}</div>
                                                            <div class="col compound-column-item">{{composition.product.part_2}}</div>
                                                            <div class="col compound-column-item">{{composition.product.part_3}}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row-2">
                                                        {% if composition.wrapping == 'none' %}
                                                            <div class="col compound-column-header">Упаковка</div>
                                                            <div class="col compound-column-item">данные об упаковке</div>
                                                            <div class="col compound-column-item">данные об упаковке</div>
                                                        {% else %}
                                                            <div class="col compound-column-header">Упаковка</div>
                                                            <div class="col compound-column-item">{{composition.wrapping.part_1}}</div>
                                                            <div class="col compound-column-item">{{composition.wrapping.part_2}}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- item end-->
</div>
<div class="product-description-area">
    <div class="container p-0">
        <div class="row">
            <div class="col p-0">
                <div class="product-description-text-border">
                    <div class="product-description_text">
                        <h3>Описание</h3>
                        <p>{{ product.description_content }}</p>
                    </div>
                </div>
            </div>
            <div class="col offset-md-1 p-0">
                <div class="product-additionaliinfo">
                    <h3>Дополнительная информация</h3>
                    <ul class="product-characteristics md-0 p-0">
                        <li>
                            <div class="product-characteristic-title">Тип</div>
                            <span class="value">{{product.type_data}}</span>
                        </li>
                        <li>
                            <div class="product-characteristic-title">Повод</div>
                            <span class="value">{{product.reason_data}}</span>
                        </li>
                        <li>
                            <div class="product-characteristic-title">Ширина</div>
                            <span class="value">{{product.size_width}}</span> см
                        </li>
                        <li>
                            <div class="product-characteristic-title">Высота</div>
                            <span class="value">{{product.size_height}}</span> см
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="may-like-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto may-like-area-title">
                <h3>Вам может понравиться</h3>
            </div>
        </div>
        <div class="row">
            {% for product_item in like_block %}
            <div class="col-sm-3 similar-product-card-column">
                <div class="similar-product-card-border-data">
                    <a href="{{ product_item.path }}" class="similar-product-card" data-wow-delay=".2s">
                        <div class="similar-product-image py-3">
                            <img src="{{ product_item.photo.url }}" alt="">
                        </div>
                        <div class="similar-product-card-name-block">
                            <div href="#shop-detail.html">
                                <div class="price"><span class="value">{{ product_item.price }}</span><span class="currency">₽</span></div>
                                <div class="name">{{ product_item.name }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- row End -->
    </div>
    <!-- container End -->
</div>

<!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ МОДУЛЯ МАГАЗИНА ########## -->
{% include '../footer.html' %}