<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Content</title>
    
        <!-- ########## ОБЩИЕ СТИЛИ ШАБЛОНА ########## -->
        <link rel="stylesheet" href="../css/index_2_try/bootstrap.min.css">
        <!-- ########## КОНЕЦ ОБЩИХ СТИЛЕЙ ########## -->
    
        <!-- ########## СТИЛИ МОДУЛЯ ########## -->
        <link rel="stylesheet" href="../css/index_2_try/common.css">
        <link rel="stylesheet" href="../css/index_2_try/header.css">
        <link rel="stylesheet" href="../css/index_2_try/footer.css">
        <link rel="stylesheet" href="../css/index_2_try/payment.css">
        <!-- ########## КОНЕЦ СТИЛЕЙ МОДУЛЯ ########## -->
    </head>
<body>
    <!-- ########## ОБЛАСТЬ ДЛЯ МОДУЛЯ МАГАЗИНА ########## -->
    <div class="header">
        <div class="container">
            <div class="row" style="background-color: aquamarine;">
                <div class="col">data</div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row-2">
            <div class="col">
                <div class="row justify-content-center basket-stage-title-block">
                    <div class="col-auto">
                        <div class="basket-state-title">
                            <h3>Оплата</h3>
                        </div>
                    </div>
                </div>
                <div class="row basket-stage-block justify-content-between">
                    <div class="col-auto">
                        <div class="basket-stage-passed">
                            <h4>Корзина</h4>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="basket-stage-passed">
                            <h4>Оформление заказа</h4>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="basket-stage-selected">
                            <h4>Оплата</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <span>Ваш заказ</span>
                <span>в г. Таганрог, с доставкой на сумму</span>
                <span>1749 р</span>
            </div>
            
            <div class="col">
                <hr>
                <div class="col row-name">Data</div>
                <div class="row">
                    <a href="#" class="data-cell-link">
                       <div class="col-auto data-cell">
                            <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                            <div class="cell-name">data</div>
                        </div> 
                    </a>
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                            <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                            <div class="cell-name">data</div>
                        </div> 
                    </a>
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                            <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                            <div class="cell-name">data</div>
                        </div> 
                    </a>
                </div>
                <hr>
                <div class="col row-name">Data</div>
                <div class="row">
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                            <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                            <div class="cell-name">data</div>
                        </div> 
                    </a>
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                              <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                              <div class="cell-name">data</div>
                        </div> 
                    </a>
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                              <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                              <div class="cell-name">data</div>
                        </div> 
                    </a>
                </div>
                <hr>
                <div class="col row-name">Data</div>
                <div class="row">
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                            <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                            <div class="cell-name">data</div>
                        </div> 
                    </a>
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                              <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                              <div class="cell-name">data</div>
                        </div> 
                    </a>
                    <a href="#" class="data-cell-link">
                        <div class="col-auto data-cell">
                              <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                              <div class="cell-name">data</div>
                        </div> 
                    </a>
                </div>
            </div>
            <div class="col backward-button-row">
                <div class="co-1">
                    <a href="#" class="backward-button"><i class="fa-solid fa-arrow-left"></i> Data</a>
                </div>
            </div>
        </div>  
    </div>
    
    <div class="footer">
        <div class="container">
            <div class="row" style="background-color: rgb(58, 75, 70);">
                <div class="col">data</div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a98fe6b196.js" crossorigin="anonymous"></script>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ МОДУЛЯ МАГАЗИНА ########## -->
</body>
</html>