{% extends "../main/inform_pages_template.html" %}
{% block content %}

<div class="row-2">
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Гладиолус — интернет магазин цветов по Краснодарскому краю, России и миру</strong>
        </div>
    </div>
    
    <div class="col post-content-area">
        <p>                               
            У нас вы легко найдёте красивый подарок на любой случай и сможете отправить его близким, где бы они не находились. Все ваши заботы мы возьмем на себя: вам останется только выбрать цветы в нашем онлайн-магазине цветов. 
        </p>
        <p> 
            Доверяя нам передачу ваших чувств, вы можете быть уверены, что свежие цветы будут доставлены вовремя и в самом лучшем виде.
        </p>
        <p> 
            Гладиолус - это новый проект русских разработчиков. Проект набирает опыт и постоянно развивается.
        </p> 
        <p> 
            <b style="font-style: italic; text-decoration: underline;">ОСНОВНЫЕ ПРЕИМУЩЕСТВА РАБОТЫ С СЕРВИСОМ РУССКИЙ БУКЕТ:</b>
        </p>
        <p>  
            <b style="font-style: italic; text-decoration: underline;">Удобно:</b>
        </p> 
        <p> 
            <b>Развивающаяся сеть доставки:</b> Мы доставляем эмоции и чувства клиентов даже в самые далекие уголки страны. Мы с радостью вручим ваш букет в любой точке России;
            <hr>
            <b>Круглосуточный контактный центр:</b> В любое время вы можете уточнить любые детали вашего заказа по бесплатному номеру 8-888-888-88-88;
            <hr>
            <b>Автоматическая система расчета заказа:</b> Мы всегда онлайн сообщим вам конечную стоимость и букета, и его доставки. И не потребуем доплат;
            <hr>
            <b>Разнообразие способов оплаты:</b> Вы всегда сможете выбрать удобный для вас метод оплаты;
        </p>
        <p>  
            <b style="font-style: italic; text-decoration: underline;">Надежно:</b>
        </p> 
        <p> 
            <b>Защита персональной информации:</b> Все ваши персональные данные будут под нашей надежной защитой. Мы всегда заботимся о вашей приватности;
            <hr>
            <b>Гарантия качества цветов:</b> Мы тщательно проверяем каждый цветок, из которых составляются наши букеты. И если вы останетесь недовольны - переделаем заказ;
            <hr>
            <b>Фотоконтроль:</b> По вашему желанию флорист сфотографирует букет перед отправкой, а курьер сделает фото получателя с вашим подарком;
        </p> 
        <p>
            <b style="font-style: italic; text-decoration: underline;">Выгодно:</b>
        </p>
        <p>
            <b>Бонусная система:</b> Уже с первого выполненного заказа вы получите большие бонусы, которые сможете сразу использовать;
            <hr>
            <b>Регулярные акции:</b> Зарегистрируйтесь в своем личном кабинете и получайте самые выгодные предложения первыми!;
            <hr>
            Мы успешно доставили уже более <b>200 букетов</b> по России. И множество положительных отзывов тех, кто уже попробовал наш сервис в Краснодаре, доказывают верность нашего комплексного подхода.
        </p>
    </div>
</div>
{% endblock content %}