{% extends "../main/complex_templates/inform_pages_template.html" %}
{% block content %}

<div class="row-2">
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Наши цветочные салоны в Краснодаре</strong>
        </div>
    </div>
    <div class="col post-content-area">
        <div class="row-2">
            <div class="col" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col mx-3" style="font-size: 25px;">8-888-888-88-88</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row-2">
                            <div class="col">
                                Ул. Гроссмана, д. 6
                            </div>
                            <div class="col">
                                <p>
                                    Пн-Вс, 7:00-21:00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row-2">
                            <div class="col">
                                просп. Университетский, д. 23
                            </div>
                            <div class="col">
                                <p>
                                    Пн-Вс, 6:00-23:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col mx-3">
                        <b style="font-style: italic; text-decoration: underline;">
                            Другие контакты
                        </b>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col">
                        <div class="row-2">
                            <div class="col">
                                По всем вопросам:
                            </div>
                            <div class="col">
                                <p>
                                    gladiolus@mail.ru
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row-2">
                            <div class="col">
                                Контакт-центр (Круглосуточно)
                            </div>
                            <div class="col">
                                <p>
                                    8-888-888-88-88 8-887-888-88-88
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row-2">
                            <div class="col">
                                Написать в чат
                            </div>
                            <div class="col">
                                <p>
                                    8-888-888-88-88  8-877-888-88-88  @Gladiolus
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-4">
                        Генеральный директор
                    </div>
                    <div class="col-4">
                        Отдел по работе с корпоративными клиентами
                    </div>
                    <div class="col-4">
                        Отдел обеспечения качества
                    </div>
                </div>
            </div>
            <div class="col" style="font-style: italic;">
                <div class="row">
                    <div class="col-4">
                        <p>
                            gladiolus_director@mail.ru
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            gladiolus_b2b@mail.ru
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            gladiolus_quality@mail.ru
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}