{% extends "../main/inform_pages_template.html" %}
{% block content %}

<div class="row-2">
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Гарантии качества</strong>
        </div>
    </div>
    <div class="col post-content-area">
        <div class="row-2">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b style="font-style: italic; text-decoration: underline;">100% гарантия свежести</b>
                        </p>
                        <p>
                            Мы вручную собираем букеты только из свежих цветов высшего качества.
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b style="font-style: italic; text-decoration: underline;">Лучшие флористы</b>
                        </p>
                        <p>
                            Все букеты с любовью собирают опытные флористы, настоящие мастера своего дела.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b style="font-style: italic; text-decoration: underline;">Счастливый получатель</b>
                        </p>
                        <p>
                            Не понравился букет? Сообщите нам об этом в течение 24 часов, и мы заменим его на новый.
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b style="font-style: italic; text-decoration: underline;">Замена букета</b>
                        </p>
                        <p>
                            В последний момент передумали, или решили отказаться от покупки? Ничего страшного! Свяжитесь с нами до момента сборки букета, и мы учтём все ваши пожелания.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b style="font-style: italic; text-decoration: underline;">Всегда на связи</b>
                        </p>
                        <p>
                            Мы всегда согласуем с вами любые изменения в заказе, а также сообщим, если не удалось связаться с получателем.
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b style="font-style: italic; text-decoration: underline;">Пунктуальная доставка</b>
                        </p>
                        <p>
                            Наши курьеры безупречно вежливы, и всегда доставляют заказы по Волгограду точно в срок.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}