{% extends "../main/complex_templates/inform_pages_template.html" %}
{% block content %}

<div class="row-2">
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Центр поддержки клиентов</strong>
        </div>
    </div>
    <div class="col post-content-area" id="main-data-counter" max-elements="15" link-id="collaps-link-" area-id="collaps-area-">
        <div class="row-2">
            <div class="col collaps-post">
                <div class="col collaps-post-name">РЕГИСТРАЦИЯ на сайте</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0000" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Как зарегистрироваться на сайте?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0000" style="display: none;">Регистрация происходит автоматически, после первого оформления заказа. Вы получите логин и пароль на указанный при оформлении заказа e-mail и номер телефона.</div>
            </div>
            <hr>
            <div class="col collaps-post">
                <div class="col collaps-post-name">ЗАКАЗ</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0001" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Как сделать заказ букета?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0001" style="display: none;">
                    <p>1. Выберите город доставки;</p>
                    <p>2. Выберите понравившийся букет;</p>
                    <p>3. Нажмите кнопку «Заказать» и заполните форму доставки; </p>
                    <p>4. Введите вашу контактную информацию.</p>
                    <p>5. Оплатите заказ. </p>
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0002" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Как мне внести изменения в заказ?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0002" style="display: none;">
                    Чтобы внести изменения в заказ свяжитесь с нами по круглосуточному бесплатному номеру 8 (888) 888 8888. Если заказ уже передан курьерской службе, внесение изменений может повлиять на срок доставки.
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0003" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">В какое время можно сделать заказ?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0003" style="display: none;">
                    Мы работаем круглосуточно. Заказ можно сделать на сайте rus-buket.ru или по круглосуточному бесплатному номеру сервисной службы 8 (888) 888 8888.
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0004" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Будет ли заказанный букет в точности соответствовать его изображению на сайте?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0004" style="display: none;">
                    Да, все букеты собираются по индивидуальной карточке. Однако возможны случаи, когда у флористов нет необходимых цветов, и с согласования заказчика они могут быть заменены на аналогичные.
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0005" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Можете ли вы собрать индивидуальный букет по моему заказу?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0005" style="display: none;">
                    Да. Отправьте нам на почту info@rus-buket.ru фото желаемого букета или описание примерного состава. Также вы можете обсудить пожелание с оператором сервисного центра.
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0006" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Гарантируются ли конфиденциальность и безопасность информации?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0006" style="display: none;">
                    Да. Мы используем только защищенные протоколы обмена данными с платежными системами. На нашем сайте используются сертифицированные решения: Сбербанка, Альфабанка, Paypal и другие. Мы не храним у себя никакие данных о картах наших клиентов. Данные о заказчике никогда не передаются третьим лицам.
                </div>
            </div>
            <hr>
            <div class="col collaps-post">
                <div class="col collaps-post-name">ОПЛАТА ЗАКАЗА</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0007" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Как можно оплатить заказ?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0007" style="display: none;">
                    <p>Оплатить заказ вы можете одним из 15 удобных способов:</p>

                    <p>1. Онлайн на нашем сайте сразу при оформлении заказа. Мы принимаем все виды банковских карт <span style="font-style: italic;">(MasterCard, Visa, Maestro)</span>, платежи через <span style="font-style: italic;">Сбербанк-Онлайн и Альфа-Клик</span>, электронные деньги: <span style="font-style: italic;">qiwi, Яндекс.Деньги, Вэбмани, Paypal</span>, а также оплату со счета телефона. Все способы оплаты онлайн проходят без комиссии и с моментальным зачислением денежных средств.</p>

                    <p>2. <span style="font-style: italic;">Наличными деньгами</span>. Оплату можно произвести в Сбербанке, Связном и Евросети, через терминалы самообслуживания, а также курьеру при получении.</p>

                    <p>Если у вас возникли любые сложности/вопросы с оплатой, пожалуйста, обратитесь к нашим менеджерам по круглосуточному бесплатному номеру 8 (888) 888 8888.</p>
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0008" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Почему долго не проходит оплата моего заказа?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0008" style="display: none;">
                    <p>Поступление средств может затянуться на неопределенный срок при оплате следующими способами:</p>

                    <p>1. При прямом переводе в системе PayPal. Эта система оставляет за собой право приостанавливать платежи и производить проверку по каждому конкретному платежу. По результатам проверки платеж либо приходит на наш счет, либо возвращается обратно на ваш счет. Именно поэтому мы не можем зачислить денежные средства по заказу моментально: они могут вернуться к вам обратно.</p>

                    <p>2. При переводе денежных средств через операциониста в банке платеж будет зачислен на наш счет в течение 3 рабочих дней.</p>

                    <p>3. При оплате заказа электронными деньгами через терминал (Киви, Яндекс.Деньги), перевод платежа может занять некоторое время, обычно до 3 рабочих дней. Чаще всего оплата задерживается при оплате через редко используемые терминалы.</p>

                    <p>Используйте данные способы только в том случае, если оформляете заказ заранее. Наша компания не может ускорить поступление денежных средств на счет.</p>

                    <p>На вопросы о задержке платежа компетентны ответить только представители платёжной системы.</p>
                </div>
            </div>
            <hr>
            <div class="col collaps-post">
                <div class="col collaps-post-name">ДОСТАВКА ЗАКАЗА</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0009" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Какие сроки доставки цветов?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0009" style="display: none;">
                    <p>Минимальное время доставки букета по России и странам СНГ — 3 часа с момента поступления оплаты. Доставка заказов в страны дальнего зарубежья осуществляется через 1-2 рабочих дня с момента оплаты заказа.</p>

                    <p>В праздники <span style="font-style: italic;">(8 марта, 14 февраля, День матери и Новый Год)</span> сроки доставки увеличиваются, поэтому рекомендуем размещать и оплачивать заказы на праздничные дни заранее.</p>
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0010" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Звоните ли вы получателю перед доставкой? Что будет, если получателя не окажется по адресу доставки?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0010" style="display: none;">
                    <p>У нас есть 2 вида доставки:</p>

                    <p>1. Не звонить получателю перед доставкой (доставка сюрпризом);</p>
                        
                    <p> В этом случае мы везём букет без предварительного звонка в указанное вами время и место. В случае отсутствия получателя по указанному адресу в момент доставки, курьер ожидает 15 минут и возвращает заказ обратно в салон. В это время наш менеджер связывается с вами, чтобы уточнить местонахождение получателя. Повторная доставка оплачивается дополнительно.</p>
                        
                    <p>2. Доставка с предварительным звонком получателю.</p>
                        
                    <p>Мы связываемся с получателем, и уточняем удобное для него время и адрес доставки. Во время звонка мы не упоминаем про цветы.</p>
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0011" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Можно ли сделать доставку в нерабочее время или ночью?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0011" style="display: none;">
                    <p>Да, мы можем сделать доставку в нерабочее время. В некоторых городах возможна ночная доставка. Стоимость ночной доставки вы можете увидеть в карточке товара или при оформлении заказа в корзине. Вы всегда можете узнать стоимость доставки у наших менеджеров по круглосуточному бесплатному номеру: 8 (888) 888 8888.</p>
                </div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0012" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Можете ли вы сделать доставку в отдаленный населенный пункт, отсутствующий у вас на сайте?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0012" style="display: none;">
                    <p>Да, мы осуществляем доставку в большинство населенных пунктов России. Сроки и стоимость доставки уточняйте, пожалуйста, у наших менеджеров по бесплатному телефону 8-888-888-8888.</p>
                </div>
            </div>
            <hr>
            <div class="col collaps-post">
                <div class="col collaps-post-name">ЛИЧНЫЙ КАБИНЕТ</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0013" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Как войти в личный кабинет?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0013" style="display: none;">В правом верхнем углу сайта есть кнопка «Войти», которая перенаправляет на страницу авторизации для входа в личный кабинет.</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0014" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Что делать, если утерян пароль для входа в личный кабинет?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0014" style="display: none;">Зайдите на сайт, затем в правом верхнем углу выберите кнопку «Войти». Введите логин (ваш номер телефона или адрес электронной почты), далее нажмите «Забыл пароль». Вскоре после этого вы получите SMS-сообщение и электронное письмо с новым паролем.</div>
            </div>
            <div class="col collaps-post">
                <div class="col collaps-post-name">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</div>
                <div class="col collaps-post-link">
                    <a id="collaps-link-0015" aria-expanded="false" onclick="collapsElement(this, 'main-data-counter')">Как ухаживать за букетом?</a>
                    </div>
                <div class="col collaps-post" id="collaps-area-0015" style="display: none;">
                    <p>Чтобы цветы дольше оставались свежими, обратите внимание на следующие рекомендации:</p>

                    <p>1. Перед тем как поставить букет в вазу, снимите со стеблей нижние листья и освежите срезы растений;</p>
                        
                    <p>2. Ежедневно меняйте воду, мойте вазу и подрезайте стебли. Вы можете добавить специальные цветочные консерванты для сохранения свежести ваших цветов;</p>
                        
                    <p>3. Ваза с букетом должна находиться вдали от прямых солнечных лучей, кондиционеров, окон и отопительных приборов.</p>
                        
                    <p>Все перечисленные выше советы есть на нашей фирменной бесплатной открытке, которую мы можем по вашему желанию приложить к заказу.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}