{% extends "../main/complex_templates/inform_pages_template.html" %}
{% block content %}

<div class="row-2">
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Оплата</strong>
        </div>
    </div>
    <div class="col post-content-area">
        <p> Вы можете оплатить ваш заказ одним из следующих способов:</p>
        <hr>
        <p>
            <b style="font-style: italic; text-decoration: underline;">1. Банковскими картами</b>
        </p>
        <ul class="post-list">
            <li>Visa / Mastercard / МИР</li>
            <li>Карта Сбербанк</li>
            <li>Альфа-Клик</li>
            <li>Apple Pay</li>
            <li>Google Pay</li>
        </ul>
        <hr>
        <p>
            <b style="font-style: italic; text-decoration: underline;">2. Наличными</b>
        </p>
        <ul class="post-list">
            <li>Банкоматы Сбербанк</li>
            <li>Салоны связи Связной и Евросеть</li>
            <li>Терминалы</li>
            <li>При получении</li>
        </ul>
        <hr>
        <p>
            <b style="font-style: italic; text-decoration: underline;">3. Электронные платежные системы</b>
        </p>
        <ul class="post-list">
            <li>С телефона</li>
            <li>PayPal / Cards</li>
            <li>Qiwi-кошелек</li>
            <li>ЮMoney</li>
            <li>Золотая Корона</li>
            <li>Расчетный счет</li>
            <li>ЮMoney</li>
        </ul>
    </div>
</div>   
{% endblock content %}