{% extends "../main/inform_pages_template.html" %}
{% block content %}
<div class="row-2">
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Защита покупателя: Возврат и замена букета</strong>
        </div>
    </div>
    <div class="col d-flex justify-content-center post-name-area">
        <div class="data">
            <strong class="post-name">Мы делаем для покупателей больше</strong>
        </div>
    </div>
    <div class="col post-content-area">
        <div class="row-2">
            <div class="col">
                <p>
                    Согласно закону РФ №2300-1 «О защите прав потребителей» и Постановлению Правительства РФ №55, горшечные и срезанные цветы не подлежат обмену и возврату. Однако мы решаем все возникающие вопросы в индивидуальном порядке и осуществляем замену и возврат в следующих случаях:
                </p>
            </div>
            <div class="col">
                <p>
                    <b style="font-style: italic; text-decoration: underline;">
                        1. ЕСЛИ ВЫ ПЕРЕДУМАЛИ
                    </b>
                </p>
                <p>
                    Если вы решили отменить заказ до начала доставки, мы вернём 100% его стоимости.
                </p>
            </div>
            <hr>
            <div class="col">
                <p>
                    <b style="font-style: italic; text-decoration: underline;">
                        2. ЕСЛИ БУКЕТ НЕ ПОНРАВИЛСЯ ПОЛУЧАТЕЛЮ ИЛИ ОТПРАВИТЕЛЮ
                    </b>
                </p>
                <p>
                    Если вас не удовлетворил внешний вид букета или сборка, мы заменим букет на новый.
                </p>
            </div>
            <hr>
            <div class="col">
                <p>
                    <b style="font-style: italic; text-decoration: underline;">
                        3. ЕСЛИ ЦВЕТЫ БЫСТРО ЗАВЯЛИ
                    </b>
                </p>
                <p>
                    Если вы соблюдали все инструкции по уходу за букетом, но цветы потеряли свежесть меньше, чем за сутки после доставки, мы считаем букет не соответствующим нашим стандартам.
                </p>
            </div>
            <hr>
            <div class="col">
                <p>
                    <b style="font-style: italic; text-decoration: underline;">
                        4. ЕСЛИ ФЛОРИСТЫ ПРЕДЛАГАЮТ ЗАМЕНИТЬ ЦВЕТОК
                    </b>
                </p>
                <p>
                    Когда необходимых цветов нет в наличии, мы связываемся с вами, чтобы предложить лучшую замену. Если вы согласны, флористы подберут варианты на сумму равную или превышающую цену цветов, сохраняя цветовую гамму и настроение букета.
                </p>
                <p>
                    Вы также можете отказаться от замены и вернуть все денежные средства.
                </p>
            </div>
            <hr>
            <div class="col">
                <p>
                    <b style="font-style: italic; text-decoration: underline;">
                        5. ЕСЛИ ПОЛУЧАТЕЛЯ НЕ ОКАЖЕТСЯ НА МЕСТЕ ИЛИ ОН ОТКАЗАЛСЯ ОТ ДОСТАВКИ
                    </b>
                </p>
                <p>
                    Если получателя не оказалось на месте в момент доставки или он отказался принять заказ, мы можем повторно доставить цветы по другому адресу, в другой город или страну по вашему выбору.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}