.footer-column-section, .rights-data, .footer-area__label {
    color: gray;
    font-size: 12px;
}

.footer-column-link a {
    color: white;
    text-decoration: none;
}

.footer-column-link a:hover {
    color: rgb(140, 140, 140);
}

.footer-area__label, .footer-area__number-value {
    text-align: center;
}

.footer-area__number-full-day, .footer-area__number-main {
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.footer-area__number-full-day:hover, .footer-area__number-main:hover {
    color: gray;
    text-decoration: underline;
}

.footer-back-call-button {
    background-color: #141336;
    color: white;
    font-size: 20px;
}

.footer-back-call-button:hover {
    background-color: #36354b;
}

.footer-address-data, .footer-email-data {
    color: white;
    font-size: 18px;
}

.footer-email-data:hover {
    color: white;
    text-decoration: underline;
}

.footer-city-link {
    color: gray;
    text-decoration: underline;
}

.footer-city-link:hover {
    color: rgb(177, 177, 177);
}