.rb-product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid #f7f5f7;
    border-radius: 12px;
    padding: 0 12px 12px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    font-weight: 400;
    transition: .15s;
}

.catalog-row__col {
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 16px;
}

.ant029_shop-label {
    background-image: url(../../../img/index_2_temp/ant029_shop/label_bg_3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;
    padding: 18px 5px;
    position: absolute;
    top: -8px;
    z-index: 2147483647;
    width: 85px;
}

.ant029_shop-label h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

@media(hover: hover) and (pointer:fine) {
    .rb-product-card:hover {
        border-color:transparent;
        box-shadow: 0 8px 24px rgba(51,51,51,.12);
        z-index: 1
    }
}

@media (min-width: 768px) {
    .catalog-row__col {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 32px;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }
}

.ant029_shop-s_detail .ant029_shop-shop_detail_img {
    width: 100%;
    height: 500px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 11%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.ant029_shop-studio_shop_detail_text {
    padding-left: 40px;
    margin-top: 15px;
}

.ant029_shop-studio_shop_detail_text h2 {
    font-size: 26px;
}

.ant029_shop-studio_shop_detail_text h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.ant029_shop-shop_detail_btns {
    position: relative;
}

.ant029_shop-shop_detail_btns .ant029_shop-common_btn {
    color: #fff;
    height: 48px !important;
    line-height: 48px !important;
    position: absolute;
    left: 150px;
    top: 50px;
    background: #4daefe;
    box-shadow: 1px 6px 4px rgb(0 0 0 / 11%);
}

.ant029_shop-common_btn {
    display: inline-block;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-weight: 700;
    color: #373737;
    font-size: 15px;
    background: #fff;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#ant029_shop a:hover {
    text-decoration: none;
    transition: .5s;
}

.ant029_shop-cart_amount>input {
    background: #fbfbfb;
    border: medium none;
    border-radius: 50px;
    height: 48px;
    padding: 6px 22px;
    width: 130px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
}

.ant029_shop-shop_detail_btns p {
    display: inline-block;
    float: left;
    margin-top: 50px;
}

#ant029_shop ul, #ant029_shop ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.name-shop-item {
    font-weight: 600;
    font-size: 42px;
}

.product-title-name-and-rating {
    margin-bottom: 20px;
}

.rating-after-name, .rating-after-name li{
    display: inline-block;
}

.rating-after-name {
    margin-right: 10px;
    font-size: 20px
}

.number-ratings {
    display: inline-block;
    font-size: 20px
}

.detail-text-data {
    padding-left: 40px;
    margin-top: 15px;
}

.detail-size-price-block {
    margin-bottom: 20px;
}

.product-price {
    font-size: 35px;
    margin-bottom: 10px;
}

.product-price .value {
    font-weight: 600;
}

.product-size-stile, .product-delivery-price-stile {
    color: rgb(181, 181, 181);
    margin-bottom: 5px;
}

.detail-text-data-icon {
    font-size: 15px;
    margin-right: 10px;
}

.product-delivery-price_city {
    color: rgb(130, 130, 130);
}

.buy-button-item-div {
    margin-right: 10px;
}

.buy-button-common {
    border-radius: 10px;
    padding: 10px 15px;
}

.buy-button {
    border: 2px solid rgb(174,132,188);
    background-color: rgb(174,132,188);
    color: white;
}

.buy-button:hover {
    border: 2px solid rgb(158, 90, 181);
    background-color: rgb(158, 90, 181);
}

.buy-button-one-click {
    border: 2px solid rgb(174,132,188);
    color: rgb(174,132,188);
    background:none;
}

.buy-button-one-click:hover {
    border: 2px solid rgb(158, 90, 181);
    color: rgb(158, 90, 181);
}

.buy-button-favorite {
    border: 2px solid rgb(230, 199, 240);
    color: rgb(174,132,188);
    background: rgb(230, 199, 240);
}

.buy-button-favorite:hover {
    border: 2px solid rgb(207, 141, 229);
    color: rgb(158, 90, 181);
    background: rgb(207, 141, 229);
}

.buy-button-group {
    margin-bottom: 20px;
}

.detail-interactive-block {
    border-top: 1px solid #b3b3b3;
    margin-bottom: 30px;
}

.detail-interactive-main {
    border-bottom: 1px solid #b3b3b3;
}

.detail-interactive-button {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
    background: none;
}

.detail-interactive-button:hover  {
    background: none;
    color: rgb(174,132,188)!important;
    cursor: pointer;
}

.detail-collapsed-area {
    padding: 0 8px 16px 8px;
}

.compound-column-item {
    color: #c2c2c2;
}

.compound-column-header {
    color: #8a8a8a;
}

.may-like-area {
    background-color:  #eeeeee;
    padding-top: 30px;
    padding-bottom: 40px;
}

.may-like-area-title {
    padding-bottom: 20px;
}

.similar-product-card-column {
    padding: 0;
}

.similar-product-card-column a {
    text-decoration: none;
    color: black;
}

.similar-product-card-column a:hover {
    color: rgb(174,132,188);
}

.similar-product-card-border-data {
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.similar-product-card-name-block {
    padding: 10px 30px 20px 30px;
}


.similar-product-card-name-block .price {
    font-size: 30px;
    font-weight: 600;
}

.similar-product-card-name-block .name {
    font-size: 20px;
    font-weight: 400;
}

.product-description-area {
    padding-top: 40px;
    padding-bottom: 40px;
}

.product-description-text-border {
    background-color: #f7f5f7;
    border-radius: 20px;
    padding: 30px;
}

.product-description-text-border h3, .product-additionaliinfo h3 {
    margin-bottom: 20px;
}

.product-characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
}

.product-characteristics li {
    text-align: left;
    display: block;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}

.product-characteristic-title {
    font-weight: 600;
    font-size: 18px;
}
