.basket-stage-title-block, .basket-stage-block {
    margin-bottom: 20px;
}

.basket-stage {
    color:gray
}

.basket-state-stage-selected {
    color: rgb(174,132,188);
}

.table-data-basket-row {
    border-bottom: 1px dashed black;
}

.table-data-image-area{
    padding: 8px;
}

.table-data-image-area img{
    max-width: 150px;
    max-height: 150px;
}

.receipt-list-block {
    margin-bottom: 10px;
}

.qty-container-panel {
    position: relative;
    width: 40px;
    border: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.strength-button {
    font-size: 20px;
    color: black;
    background: none;
}

.strength-button:hover {
    cursor: pointer;
}

.delete-button{
    color: gray;
}

.delete-button:hover {
    color: gray;
    cursor: pointer;
}


.table-data-basket-size {
    font-size: 12px;
}

.total-block-cell {
    border-bottom: dashed black 1px;
}

.button-ordering{
    background-color: rgb(174,132,188);
    color: white;
    text-decoration: none;
    padding: 4px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.button-ordering:hover{
    background-color: rgb(139,86,157);
    color: white;
    text-decoration: none;
}

.total-data-block{
    margin-bottom: 30px;
}

.city-button-update, .city-button-update:active, .city-button-update:focus{
    outline: none;
}

.city-button-update{
    border: none;
    background: none;
}

.city-button-update:hover{
    color:rgb(166, 166, 166);
}
.city-button-update i{
    font-size: 15px;
}