.data-info-area, .category-info-area {
    padding: 10px;
}

.main_area {
    margin: 10px 0px;
}

.category-info-area {
    border-right: 4px solid rgb(174,132,188);
    padding-top: 0px;
}

.links-area {
    background-color: none
}

.links-area-row {
    padding: 10px 10px;
    width: 100%;
    border-top: 1px solid rgb(201, 201, 201);
}

.links-area-row:hover {
    background-color: rgb(228, 228, 228);
}

.category-info-link {
    text-decoration: none;
    color: black;
}

.category-info-link:hover {
    text-decoration: none;
    color: black;
}

.links-area-row-selected {
    padding: 10px 10px;
    width: 100%;
    background-color: rgb(201, 201, 201);;
}

/* about block */

.post-content-area {
    margin-top: 20px;
    font-size: 18px;
}

.post-name {
    font-size: 25px;
    font-weight: 700;
}

/* end about block */

/* payment block */
.post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
}

.post-list li {
    text-align: left;
    display: block;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}
/* end payment block */

/* help block */
.collaps-post {
    margin-top: 10px;
    margin-bottom: 10px;
}

.collaps-post-name {
    font-size: 22px;
    margin-bottom: 10px;
}

.collaps-post-link a{
    color: rgb(128, 128, 128) !important;
    text-decoration:underline dashed !important;
    cursor: pointer;
}

.collaps-post-link a:hover{
    color: rgb(211, 211, 211) !important;
}
/* end help block */