<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <!-- ########## ОБЩИЕ СТИЛИ ШАБЛОНА ########## -->
    <link rel="stylesheet" href="../css/index_2_try/bootstrap.min.css">
    <!-- ########## КОНЕЦ ОБЩИХ СТИЛЕЙ ########## -->

    <!-- ########## СТИЛИ МОДУЛЯ ########## -->
    <link rel="stylesheet" href="../css/index_2_try/common.css">
    <link rel="stylesheet" href="../css/index_2_try/header.css">
    <link rel="stylesheet" href="../css/index_2_try/footer.css">
    <link rel="stylesheet" href="../css/index_2_try/breadcrumbs.css">
    <link rel="stylesheet" href="../css/index_2_try/content/main_content.css">
    <!-- ########## КОНЕЦ СТИЛЕЙ МОДУЛЯ ########## -->
</head>
<body>
    <!-- ########## ОБЛАСТЬ ДЛЯ ШАПКИ САЙТА ########## -->
    <header>
        <div class="container">
            <div class="row justify-content-between border-bottom align-items-center">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                        <div class="col">Data</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto border-left align-self-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle p-0 currency-button" href="#" data-bs-toggle="dropdown" aria-expanded="false">₽</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">$ доллар</a></li>
                                    <li><a class="dropdown-item" href="#">€ евро</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto border-left align-self-center p-2">
                            <div class="dropdown">
                                <a class="dropdown-toggle p-0 country-button" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../img/temp/flag.png" alt="flag">
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">English</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto border-left p-0">
                            <input type="button" class="user-button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-1">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="row justify-content-between">
                        <div class="col-auto"><img class="header-logo" src="../img/pro/logo.png" alt="logo"></div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-auto p-0">
                                    <div class="row-2 justify-content-center">
                                        <div class="col-auto header-address-city-name">Город доставки</div>
                                        <div class="col-auto header-address-city-value">
                                            <a href="#" class="header-address-city-value">Сочи</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto p-0">
                                    <div class="row-2 justify-content-center">
                                        <div class="col-auto header-address-number-name">Бесплатно Круглосуточно</div>
                                        <div class="col-auto header-address-number-value">8-888-888-88-88</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto align-self-center">
                            <a href="#"><img class="header-basket" src="../img/pro/basket.png" alt="basket"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center header-row-3">
                <div class="col-auto">
                    <div class="row header-row-3-height">
                        <div class="col-auto p-0"><input type="button" class="header-row-3-button" value="Data"></div>
                        <div class="col-auto p-0"><input type="button" class="header-row-3-button" value="Data"></div>
                        <div class="col-auto p-0"><input type="button" class="header-row-3-button" value="Data"></div>
                        <div class="col-auto p-0"><input type="button" class="header-row-3-button" value="Data"></div>
                        <div class="col-auto p-0"><input type="button" class="header-row-3-button" value="Data"></div>
                        <div class="col-auto p-0"><input type="button" class="header-row-3-button" value="Data"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ ШАПКИ САЙТА ########## -->

    <!-- ########## ОБЛАСТЬ ДЛЯ ХЛЕБНЫХ КРОШЕК ########## -->
    <section class="breadcrumbs-section">
        <div class="breadcrumbs-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs-block-elements">
                            <div>
                                <a href="#">Главная</a>
                                <i class="fas fa-angle-right"></i>
                                <a href="#">Самая лучшая страница</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ ХЛЕБНЫХ КРОШЕК ########## -->

    <!-- ########## ОБЛАСТЬ ДЛЯ МОДУЛЯ МАГАЗИНА ########## -->
    <div id="ant029_shop" class="ant029_shop_container">
        <div class="container">
            <!-- Name Area -->
            <div class="row row-data-centering section-data-row">
                <div class="col-auto">
                    <div class="row-2">
                        <div class="col shop-section-name"><span>Комнатные растения</span></div>
                        <div class="col shop-section-city"><span>В Краснодаре</span></div>
                    </div>
                </div>
            </div>
            <!-- End Name Area -->
            <div class="row row-data-centering">
                <!-- Blog Area -->
                <main class="col-9 ant029_shop-studio_shop_area">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 catalog-row__col">
                            <div class="ant029_shop-single_shop rb-product-card">
                                <div>
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="shop-detail.html" class="name-and-price-link">
                                    <h3>
                                        <div class="name-and-price-item item-data-name">Название товара</div>
                                        <div class="name-and-price-item item-data-price">$69.99</div> 
                                    </h3>
                                </a>
                            </div>
                            <div class="ant029_shop-label">
                                <h4>new</h4>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 catalog-row__col">
                            <div class="ant029_shop-single_shop rb-product-card">
                                <div>
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="shop-detail.html" class="name-and-price-link">
                                    <h3>
                                        <div class="name-and-price-item item-data-name">Название товара</div>
                                        <div class="name-and-price-item item-data-price">$69.99</div> 
                                    </h3>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 catalog-row__col">
                            <div class="ant029_shop-single_shop rb-product-card">
                                <div>
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="shop-detail.html" class="name-and-price-link">
                                    <h3>
                                        <div class="name-and-price-item item-data-name">Название товара</div>
                                        <div class="name-and-price-item item-data-price">$69.99</div> 
                                    </h3>
                                </a>
                            </div>
                            <div class="ant029_shop-label">
                                <h4>new</h4>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 catalog-row__col">
                            <div class="ant029_shop-single_shop rb-product-card">
                                <div>
                                    <a href="shop-detail.html" class="wow fadeIn" data-wow-delay=".2s">
                                        <img src="../img/index_2_temp/ant029_shop/shop_img1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="shop-detail.html" class="name-and-price-link">
                                    <h3>
                                        <div class="name-and-price-item item-data-name">Название товара</div>
                                        <div class="name-and-price-item item-data-price">$69.99</div> 
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </main>
                <!--/ Blog Area -->

            </div>
        </div>
        <!-- Container /- -->
    </div>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ МОДУЛЯ МАГАЗИНА ########## -->

    <!-- ########## ОБЛАСТЬ ДЛЯ ФУТЕРА САЙТА ########## -->
    <footer>
        <div class="container">
            <footer class="py-5">
                <div class="row footer-column">
                    <div class="col-6 col-md-2 mb-3">
                    <h5 class="footer-column-section">Section</h5>
                    <ul class="nav flex-column footer-column-link">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                    </div>
            
                    <div class="col-6 col-md-2 mb-3">
                    <h5 class="footer-column-section">Section</h5>
                    <ul class="nav flex-column footer-column-link">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                    </ul>
                    </div>
            
                    <div class="col-6 col-md-2 mb-3">
                    <h5 class="footer-column-section">Section</h5>
                    <ul class="nav flex-column footer-column-link">
                        <li class="nav-item mb-2"><a href="#" class="p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="p-0 text-body-secondary">About</a></li>
                    </ul>
                    </div>
            
                    <div class="col-md-5 ml-auto mr-auto mb-3">
                        <div class="row-3">
                            <div class="col">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="row-2">
                                            <div class="col footer-area__number-value">
                                                <a href="#" class="footer-area__number-full-day">8-888-888-88-88</a>
                                            </div>
                                            <div class="col footer-area__label">Бесплатно Круглосуточно</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="row-2">
                                            <div class="col footer-area__number-value">
                                                <a href="#" class="footer-area__number-main">8-888-888-88-88</a>
                                            </div>
                                            <div class="col footer-area__label">Главный офис</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col my-3">
                                <input type="button" class="footer-back-call-button p-2 px-4" value="Заказать обратный звонок">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex border-top justify-content-between my-4 py-4">
                    <div class="col-auto p-0"><p class="rights-data">© 2023 Гладиолус, Inc. All rights reserved.</p></div>
                    <div class="col-auto">
                        <h5 class="footer-column-section">Цветочный магазин в городе 
                            <a href="#" class="footer-city-link">г. Краснодар</a></h5>
                        <div class="row-10">
                            <div class="col footer-address-data p-0">
                                г.  
                                <span class="addres-locality">Краснодар</span>,
                               
                                <span class="addres-street">ул. Бережная, д. 74</span>
                            </div>
                            
                            <div class="col footer-address-data p-0">
                                г.  
                                <span class="addres-locality">Краснодар</span>,
                               
                                <span class="addres-street">ул. Бережная, д. 75</span>
                            </div>
                            
                            <div class="col footer-address-data p-0">
                                г.  
                                <span class="addres-locality">Краснодар</span>,
                               
                                <span class="addres-street">проспект. Бережная, д. 76</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col">
                                <div class="row-2">
                                    <div class="col footer-area__label">По любым вопросам</div>
                                    <div class="col px-4">
                                        <a href="#" class="footer-email-data">Data@mail.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">smiles</div>
                        </div>
                    </div>
                </div>
            </footer>
          </div>
    </footer>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ ФУТЕРА САЙТА ########## -->

    <!-- ########## ОСОБЫЕ БИБЛИОТЕКИ ########## -->
    <!-- >>>>> ВМЕСТО ЭТОЙ СТРОКИ ВСТАВЛЯЕМ СКРИПТЫ ОСОБЫХ БИБЛИОТЕК (если есть, то будет указано в модуле) <<<<<<< -->
    <!-- ########## КОНЕЦ ОСОБЫХ БИЛБИОТЕК ########## -->

    <!-- ########## ОБЩИЕ СКРИПТЫ ШАБЛОНА ########## -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a98fe6b196.js" crossorigin="anonymous"></script>
    <!-- ########## КОНЕЦ ОБЩИХ СКРИПТОВ ########## -->

    <!-- ########## СКРИПТЫ МОДУЛЯ (КОПИРУЕМ В ОСНОВНОЙ ШАБЛОН) ########## -->
    <!-- ########## КОНЕЦ СКРИПТОВ МОДУЛЯ ########## -->
</body>
</html>