{% include '../header.html' %}
<div class="main_area my-4">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <div class="row form-button-row">
                        <div class="col p-0"><button type="submit" class="form-button button-submit">Зарегистрироваться</button></div>
                        <div class="col p-0"><a href="{% url 'login' %}" class="form-button button-redirect">Авторизация</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include '../footer.html' %}