{% include '../header.html' %}
<div class="main_area my-5">
    <div class="container">
        <div class="row">
            <div class="col-4 category-info-area">
                <div class="links-area">
                   <div class="row-2">
                        {% for link in user_page_links %}
                            {% if link.pk == page_selected %}
                            <div class="col p-0">
                                <div class="category-info-link">
                                    <div class="links-area-row-selected">
                                        {{ link.name }}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col p-0">
                                <a href="{{ link.get_absolute_url }}" class="category-info-link">
                                    <div class="links-area-row">
                                        {{ link.name }}
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div> 
                </div>
            </div>
            <div class="col data-info-area">
                <div class="data-area">
                    {% block content %}
                    <p>{{ content_data }}</p>
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../footer.html' %}